ul {
  list-style-type: none;
}

button a:link {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: flex-end;
}

.author {
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row {
  display: flex;
}

#thumbnailDiv {
  margin-right: 20px;
}
